
main
  display: flex
  flex-flow: column wrap
  justify-content: space-between
  min-height: 100vh

  header
    background: $primary-color
    min-height: 80px

  .content
    flex: 1 100%

  footer
    background: $primary-color
    min-height: 80px
